#github-logo {

    /* setting the size of the image */
    width: 100px;
    height: 100px;

    /* Centering the image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;

    /* Changing image's border-radius */
    border-radius: 50%;

}

/* Animation of social media icon, only on hover, follows */

#github-logo:hover {

    animation-name: github-logo-animation;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;

}

/* Animation code */

@keyframes github-logo-animation {
    33% {
        /* animation starts with logo rotating clockwise 180 degrees with a light purple-colored shadow */
        transform: rotate(180deg);
        filter: drop-shadow(8px 8px 10px rgb(248, 164, 248));
    }

    66% {
        /* animation continues with logo rotating clockwise from 180 to 360 degrees with the purple-colored shadow slowly darkening*/
        transform: rotate(360deg);
        filter: drop-shadow(8px 8px 10px purple);
    }

    100% {
        /* animation ends with logo rotating anti-clockwise from 360 degrees back to 5 degrees with the purple-colored shadow slowly lightening */
        transform: rotate(5deg);
        filter: drop-shadow(8px 8px 10px rgb(248, 164, 248));
    }
    
}